

*{
    margin:0px;
    padding:0px;
    
    
}

.header{
    background-color: #1f2937;
    color: white;
    
}
a{
    color: white;
    text-decoration: none;
}

.vagabond{
    width:550px;
    height:350px;
    margin-left:100px;
    position:relative;
    bottom:50px;
    right:30px;
    
    
}

.logo-link{
    display: flex;
    justify-content: space-around;
}

.header-logo{
    padding:20px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 100px;
}

.links{
    display:flex;
    margin:20px;
    gap:70px;
    font-size: 18px;
}

.main-text{
    font-size: 48px;
    font-weight:900;
    width:325px;
    margin-left:50px;
}

.subtext{
    width:380px;
    font-size: 18px;
    margin-left: 50px;
    margin-top: 10px;
}

.button1{
    background-color: #3882f6;
    padding: 10px;
    border-radius: 10px;
    margin-left:50px;
    color: white;
    width:120px;
    margin-top:10px;
}

.header-container{
    display: flex;  
    justify-content: center;
    align-items: center;  
}

.main-sub-button{
    margin-bottom:80px;
    
}

.information{
    height: 350px;
}

.fav{
    display: flex;
    justify-content: center;
    margin-top:20px;
    font-weight: bolder;
    font-size: 36px;
    color: #1f2937;
}

.card{
    width:200px;
    height:200px;
    border:3px solid #3882f6;
    border-radius: 15%;
}

.card-text-container{
    display: flex;
    justify-content: center;
    margin-top:30px;
    gap:20px;
}

.text{
    width:200px;
    margin-top:10px;
    
}



#card1 {
    background-image: url("images/baku.jpg");
    background-size: cover;
}

#card2 {
    background-image: url("images/guts.jpg");
    background-size: cover;
}

#card3 {
    background-image: url("images/jotaro.png");
    background-size: cover;
}

#card4 {
    background-image: url("images/thorfinn.jpeg");
    background-size: cover;
}

#text1{
    padding-left:20px;
}

#text2{
    padding-left:50px;
}

#text3{
    padding-left:30px;
}

#text4{
    padding-left:15px;
}

.quote-box{
    background-color: #e5e7eb;
    padding:120px;
    
}

.bigtext{
    font-size: 36px;
    font-style: italic;
    text-align: center;
}

.smalltext{
    font-size: 25px;
    font-weight: bolder;
    text-align: right;
}

.text-button{
    display: flex;
    justify-content: space-evenly;
}


.sign-up{
    background-color: white;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 700px;
    height:120px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-evenly;
    border-radius: 8px;
    margin-top:40px;
}

.button2{
    margin-top:5px;
    width:100px;
    height:30px;
    border-radius: 8px;
    background-color: #3882f6;
    color: white;
    border:1px solid white;
    
}
.button-area{
    margin: auto;
    
}
.text-area{
    color: white;
    margin: auto;
    font-weight: bolder;
}